---
import "../styles/tailwind.css";
---

<html lang="de">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Projektline Zimmer Horsch GmbH | Impressum</title>
  </head>
  <body>
    <main class="mx-auto prose prose-invert px-4 py-8 font-light">
      <a
        href="/"
        class="inline-flex items-center justify-center bg-primary rounded-md p-7 border border-white"
      >
        <img src="/logo.png" alt="" class="w-16 h-auto m-0" />
      </a>
      <h1 class="mt-8">Impressum</h1>

      <p><strong>Firmenname</strong>: Projektline Zimmer Horsch GmbH</p>

      <p>
        <strong>Adresse:</strong> Europaallee 27, 66111 Saarbrücken, Deutschland
      </p>

      <p><strong>Geschäftsführer:</strong> Tobias Zimmer</p>

      <h2>Kontakt:</h2>
      <p>Telefon: +49 160 7082589<br />E-Mail: tz@projektline-merzig.de</p>

      <p>
        <strong>Handelsregister:</strong> Amtsgericht Saarbrücken, HRB [Nummer]
      </p>

      <p>
        <strong>Umsatzsteuer-Identifikationsnummer:</strong> DE
        [Umsatzsteuer-ID]
      </p>

      <p>
        <strong>Inhaltlich Verantwortlicher gemäß § 55 Abs. 2 RStV:</strong>
         [Name des Verantwortlichen]
      </p>

      <p>
        <strong>Haftungsausschluss:</strong> Die Inhalte unserer Seiten wurden
        mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und
        Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als
        Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf
        diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8
        bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet,
        übermittelte oder gespeicherte fremde Informationen zu überwachen oder
        nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit
        hinweisen.
      </p>

      <p>
        <strong>Urheberrecht:</strong> Die durch die Seitenbetreiber erstellten
        Inhalte und Werke auf diesen Seiten unterliegen dem deutschen
        Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede
        Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der
        schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.
        Downloads und Kopien dieser Seite sind nur für den privaten, nicht
        kommerziellen Gebrauch gestattet.
      </p>

      <p>
        <strong>Datenschutz:</strong> [Hier können Informationen zum Datenschutz
        eingefügt werden, z.B. Verweis auf die Datenschutzerklärung]
      </p>
    </main>
  </body>
</html>
