<html lang="de">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Projektline Zimmer Horsch GmbH</title>
  </head>
  <body
    class="min-h-screen flex flex-col items-center justify-center bg-primary text-white p-16 relative"
  >
    <main class="text-center">
      <h1 class="sr-only">Projektline Zimmer Horsch GmbH</h1>
      <a
        href="/PLZH_Vorstellung_Projekt_REWE_Nalbach_optimiert.pdf"
        target="_blank"
      >
        <img
          class="w-32 md:w-60 h-auto block"
          src="logo.png"
          alt="Logo der Projektline Zimmer Horsch GmbH"
        />
      </a>
    </main>
    <footer class="absolute bottom-16 font-extralight max-md:text-center">
      <nav class="inline-block space-x-2">
        <a
          href="/PLZH_Vorstellung_Projekt_REWE_Nalbach_optimiert.pdf"
          target="_blank"
          class="hover:underline"
        >
          Leistungen
        </a>
        <a href="mailto:hello@projektline-merzig.de" class="hover:underline">
          Kontakt
        </a>
        <a class="hover:underline" href="/impressum"> Impressum</a>
      </nav>
      <span class="hidden sm:inline-block px-2">|</span>
      <span class="uppercase tracking-widest">Projektline Zimmer Horsch</span>
       GmbH
    </footer>
  </body>
</html>
